.contenedor {
    background-color: gray;
    /*display: flex;*/
    display: inline-flex;
    flex-direction: row; /*que viene ya por defecto*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    flex-direction: column-reverse;
}

.item {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    color: white;
    font-size: 30px;
}